* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

#header {
    text-align: center;
    padding: 8px 0px;
    position: fixed;
    width: 100%;
    background-color: #445A70;
    color: #F0F8FF;
}

#header > a {
    margin: 0px 16px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.section {
    /* max-width: 1080px;
    margin: 0 auto;  */
    margin: 16px 0px;
}

.section > * {
    max-width: 1080px;
    /* padding: 0 8px; */
}

.section-title {
    font-size: xx-large;
    font-weight: bold;
    color: #234970; 
}

.section-sub-title {
    font-size: large;
    font-weight: bold;
    color: #234970; 
}

.section-text {
    margin: 8px 0px; 
}

#content {
    /* margin: 0px 8px; */
    background-color: #F0F8FF; 

    display: grid;
    justify-content: center;
    text-align: center;

    padding-top: 34.5px;
}

.left-col {
    margin-left: auto; 
}

.right-col {
    margin-right: auto; 
}

/* Home */

#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 64px;
    align-items: center;
}

.headshot {
    border: 2px solid #445A70;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #445a70;
}

#about {
    max-width: 60%;
    margin: auto;
}

.icons > a {
    padding: 0px 4px;
    cursor: pointer;
}

/* Experiences */

.experience-item {
    text-align: initial;
    display: grid;
    grid-template-columns: 64px 1fr;
    grid-column-gap: 32px;
    border: 0.5px solid #445A70;
    border-radius: 16px;
    padding: 8px 16px;
    margin: 16px;
}

.experience-title, .interest-title {
    font-weight: 600;
}

.experience-dates {
    font-style: italic;
}

ul.experience-text {
    margin: 0px;
    padding: 8px;
}

.experience-text > li{
    list-style: none;
}

.experience-text > li:before{
    content: "\25B9";
    padding-right: 4px;
    list-style-position: outside;
    margin-left: -1em;
}

img.logo {
    width: 64px; 
    border-radius: 50%;
    background-color: white;
}

.blue {
    color: #234970;
}

.blue-link {
    color: steelblue;
}

/* Skills */

.skill-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    align-items: center;
    grid-row-gap: 8px;
}

.blank {
    color: white;
}

.fill {
    color: #445A70; 
}

/* Projects */

.project-item {
    text-align: initial;
}

/* Extras */

.interest-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    text-align: initial;
    padding-top: 16px;
}

.interest-text {
    width: 50%;
}